<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="stylesheets/styles.css" />
    <title>Iron Cinema</title>
  </head>
  <body>
    <h1>Cinema Ironhack</h1>
    <a href="/movies"> Check the movies! </a>
    <main>
      {{{body}}}
    </main>

    <footer>

    </footer>
  </body>
</html>
